body {

  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}


.logo {

  width: 40%;
  float: left;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 30px;

}


.contenedor-botones {

  margin-top: 30px;


}

@media query (min-width: 320px) {

}
