body {

  background-image: url("../img/fondo.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

p {

  text-align: justify;

}


.logo {

  width: 40%;
  float: left;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 30px;

}


.contenedor-botones {

  margin-top: 30px;


}

.icono {

  padding-top: 10px;


}

#publicacion {

  height: 300px;
  width: 30%;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;

}

.titulo-estilo {

  text-shadow: 1px 1px 1px black;
  font-style: italic;

}

.tamaño-autor {

  width: 50%;

}



@media (max-width:420px) {

  .logo {

    width: 125px;
    height: 90px;
    float: left;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 39px;

  }

  .boton-tamaño {

    margin-right: 10px;
    margin-top: 10px;
    float: right;


}

  .tamaño-img {

  width: 100%;

}

  #publicacion {

  width: 100%;
  margin: 0px 0px 15px 0px !important;
  height: 90%;

}





}

@media (min-width:421px) and (max-width:900px) {

  .logo {

    width: 125px;
    height: 90px;
    float: left;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 39px;

  }

  .boton-tamaño {

    margin-right: 10px;
    margin-top: 10px;
    float: right;


}

   .tamaño-img {

  width: 100%;

}

  #publicacion {

  width: 100%;
  height: 30%;
  margin: 0px 0px 15px 0px !important;

}









}
