body {

  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}


.logo {

  width: 50%;
  float: left;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 30px;

}

nav {

  height: 300px;

}

.alineado {

margin-top: 175px;
margin-left: 50px;


}
